<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=mmsdbuild;AccountKey=VPX60m8aErvxhJZZ7jYJupMDOvifML26gjFy4vsmP6Nem5DQScPf1Q7kgQdq0jYLJwGaTUP9rfglaaInzvug0Q==" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>